  <!-- navbar -->
  <div data-ng-include=" 'view/blocks/header.html' " class="app-header navbar">
  </div>
  <!-- / navbar -->

  <!-- menu -->
  <div data-ng-include=" 'view/blocks/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}"
       ng-class="{'hide': app.hideAside }">
  </div>
  <!-- / menu -->

  <!-- view -->
  <div class="app-content" ng-class="{'m-n': app.hideAside, 'h-full': app.hideFooter }">
    <div class="app-content-body app-content-full fade-in-up" ng-class="{'h-full': app.hideFooter }" ui-view>
    </div>
  </div>
  <!-- / view -->

  <!-- navbar -->
  <div class="app-footer navbar navbar-fixed-bottom bg-light lt b-t"
       ng-class="{'m-n': app.hideAside, 'hide': app.hideFooter}" ui-view="footer">
  </div>


  <!-- /navbar -->
  <div class="app-footer wrapper navbar navbar-fixed-bottom b-t bg-light">
    <span class="pull-right">{{app.version}} <a href ui-scroll="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
    Copyright @ 2016-2017  版权所有 闵ICP备14006474号

  </div>
