<div class="modal-header hidden">
    <div class="row">
        <div class="col-sm-10">
            <h3 class="modal-title">平台包头视频综合平台</h3>
        </div>
        <div class="col-sm-2"><a class="btn btn-lg" ng-click="cancel()"><i class="fa fa-close"></i></a></div>
    </div>
</div>
<div class="modal-body">
    <div class="container w-xxl w-auto-xs" ng-controller="SigninFormController">
        <a href class="navbar-brand block m-t">登录视频服务器</a>
        <div class="m-b-lg">
            <form name="formValidate" class="form-horizontal form-validation">
                <div class="text-danger wrapper text-center" ng-show="authError">
                    {{authError}}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">IP地址:</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="服务器IP地址" class="col-sm-9 form-control" ng-model="user.hostName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">端口号:</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="端口号" class="col-sm-9 form-control" ng-model="user.hostPort" required>
                    </div>
                </div>
                <div class="form-group disabled">
                    <label class="col-sm-3 control-label">用户名:</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="端口号" class="col-sm-9 form-control" ng-model="user.userName" required>
                    </div>
                </div>
                <div class="form-group disabled">
                    <label class="col-sm-3 control-label">密码:</label>
                    <div class="col-sm-9">
                        <input type="password" placeholder="端口号" class="col-sm-9 form-control" ng-model="user.userPwd" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="loginServer()" ng-disabled='form.$invalid'>登录</button>
<!--                <div class="text-center m-t m-b"><a ui-sref="access.forgotpwd">Forgot password?</a></div>
                <div class="line line-dashed"></div>
                <p class="text-center"><small>Do not have an account?</small></p>
                <a ui-sref="access.signup" class="btn btn-lg btn-default btn-block">Create an account</a>-->
            </form>
        </div>
<!--
        <div class="text-center" ng-include="'tpl/blocks/page_footer.html'"></div>
-->
    </div>
</div>
<!--
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>-->
