<div class="hbox hbox-auto-xs" style="position: absolute;" ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = false;
  " ng-controller="MainMenuCtrl">
    <div class="col w-md w-auto-xs bg-light lter b-r">
        <div>
            <div class="no-border" style="border-bottom: none;">
                <div class="app_menu" style="border:none;margin-top: 25px;">
                    <a href ng-repeat="v in menuList"  class="wrapper-sm text-warning text-lg text-right menuitem {{v.selected ? 'menuitemselect':''}}" style="display: block;"
                       ng-click="changeMenu(v,$event)">
                        {{v.name}}<img class="m-l-sm m-r-sm" src="img/yunnan/menu/icon/{{v.icon}}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div data-ng-include="app_menu_url"></div>
                </div>
            </div>
        </div>
    </div>
</div>
