<div class="hbox hbox-auto-xs" style="position: absolute;" ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = false;
  app_menu_url= 'view/app_menu/video_app.html';
  ">
    <div class="col w-md w-auto-xs bg-light lter b-r">
        <div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    功能列表
                </div>
                <div class="list-group bg-white">
                    <a href class="list-group-item" ng-click="app_menu_url='view/app_menu/video_app.html'">
                        <i class="glyphicon glyphicon-facetime-video text-info m-r-sm"></i>视频监控应用
                    </a>
                    <a href class="list-group-item" ng-click="app_menu_url='view/app_menu/kakou_app.html'">
                        <i class="fa fa-car text-success m-r-sm"></i>电警卡口应用
                    </a>
                    <a href class="list-group-item" ng-click="app_menu_url='view/app_menu/face_app.html'">
                        <i class="fa fa-user text-primary m-r-sm"></i>人像识应用
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div data-ng-include="app_menu_url"></div>
                </div>
            </div>
        </div>
    </div>
</div>