<div class="hbox hbox-auto-xs" style="position: absolute;" ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = false;
  ">
    <div class="col w-md w-auto-xs bg-light lter b-r">
        <div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    功能列表
                </div>
                <div class="list-group bg-white">
                    <a href class="list-group-item">
                        <i class="glyphicon glyphicon-facetime-video text-info m-r-sm"></i>视频监控应用
                    </a>
                    <a href class="list-group-item">
                        <i class="fa fa-car text-success m-r-sm"></i>电警卡口应用
                    </a>
                    <a href class="list-group-item">
                        <i class="fa fa-user text-primary m-r-sm"></i>人像识应用
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-2">
                    <div class="xe-widget xe-vertical-counter xe-vertical-counter-yellow" data-count=".num" data-from="0" data-to="128.4" data-decimal="," data-suffix="%" data-duration="2.5">
                        <div class="xe-icon">
                            <i class="linecons-videocam"></i>
                        </div>

                        <div class="xe-label">
                            <strong class="num">0,0%</strong>
                            <span>Video Views</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>